---
layout: default
---

<header class="post-header">
    <h1 class="post-title">Schedule</h1>
</header>

{{ content }}

<div class="home" style="font-size: 0.8em;">
    <ul class="responsive-table" style="margin-left: 0;">
        <li class="table-header">
            <div class="col col-1">Event</div>
            <div class="col col-1-2">Date</div>
            <div class="col col-2">Description</div>
            <div class="col col-4">Course Material</div>
        </li>

        {% assign all_assignment_dues = site.assignments | map: "due_event" %}

        {% assign all_events = site.lectures %}
        {% assign all_events = all_events | concat: site.assignments %}
        {% assign all_events = all_events | concat: all_assignment_dues %}
        {% for e in all_events %}
        <p>{{ e.title }} → {{ e.date }}</p>
        {% endfor %}

        {% for event in all_events %}
        <li class="table-row table-row-{{ event.type}}">
            {% include schedule_row_{{ event.type }}.html event=event %}
        </li>
        {% endfor %}

    </ul>
</div>